## macOS
.DS_Store
.AppleDouble
.LSOverride

## Xcode
xcuserdata/
*.xcuserstate
*.xcuserdatad/
DerivedData/
build/
Build/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

## CocoaPods / Carthage (if ever used)
Pods/
Carthage/Build/

## Playgrounds
timeline.xctimeline
playground.xcworkspace
